**/*.pyc
tf_files
.idea/
**/*~
gradle*
build/
dist/
local.properties
android.iml
.gradle/
android/assets/*
*.o
vision_app/android/.externalNativeBuild/cmake/release/armeabi-v7a/.ninja_deps
vision_app/android/.externalNativeBuild/cmake/release/armeabi-v7a/.ninja_log
*.ninja
*.ninja
=======
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
build/jars/CTRLib.jar
build/jars/WPILib.jar
dist/FRCUserProgram.jar
build/jars/java-json.jar
build/jars/ntcore.jar
build/jars/navx_frc.jar
build/jars/json-simple-1.1.1.jar
build/jars/CTRE_Phoenix.jar
build/jars/cscore.jar
build/jars/opencv.jar
build/jars/WPILib.jar
build/jars/wpiutil.jar
dist/FRCUserProgram.jar
build/jars/navx_frc.jar
dist/FRCUserProgram.jar
build/jars/CTRE_Phoenix.jar
